.header {
    height: 5%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
    padding: 4px;
    

}

.logo{
    height: 75px;
    width:75px;
    border-radius: 9px;
    position: relative;
    left: 2%;
}

.slogan{
font-size: 19px;
color: rgba(1, 63, 110, 0.516);
position: relative;
left: 20%;



}