body {
  width: 100vw;
  height: auto;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;

}

#root {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 239, 248);
  gap:20px;   
}